.Title{
    margin-top: 1%;
}
.App-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#User-name {
    width: 80%;
    max-width: 600px;
    word-break: break-all;
    padding: 10px;
    margin-top: 4%;
    display: inline-block;
    flex: 1;
    background-color: wheat;
    margin-bottom: 10px;
}
#User-password {
    width: 80%;
    margin-bottom: 10px;
    max-width: 600px;
    word-break: break-all;
    padding: 10px;
    display: block;
    flex: 1;
    background-color: wheat;
}
＃Submit{
    width: 20%;
    min-width: 100px;
    display: block;
    flex: 1;
    margin-top: 30px;
    padding-right: 60px;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 10px;
}